@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: #ffffff;
    font-size: x-large;
    text-shadow: 3px 3px 0px #000000;
    background-color: #212124;
}

table {
    font-family: monospace;
    padding: 2rem;
    margin: 2rem;
    background-color: #000000;
    z-index: 99;
}

table th {
    font-size: xx-large;
    padding: 1rem 4rem 1rem 4rem;
}

table td {
    font-size: x-large;
    padding: 1rem 4rem 1rem 4rem;
}

input,
#gameOverBtn1 {
    font-size: medium;
    margin: 1.5rem;
}

button {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: medium;
    color: #16c60c;
    cursor: default;
    font-family: 'Press Start 2P', cursive;
}

.visible {
    visibility: visible !important;
}

.selected {
    background-color: #16c60c;
}

.form {
    font-size: medium;
}

#score {
    background-color: transparent;
    text-align: center;
    outline: none;
    border: none;
    font-size: medium;
    color: #16c60c;
    cursor: default;
    font-family: 'Press Start 2P', cursive;
    max-width: 3rem;
}

#myCanvas {
    position: absolute;
}

#settings,
#info,
#scoreboard {
    font-size: x-small;
    position: fixed;
    bottom: 30px;
    z-index: 99;
}

#settings {
    right: 30px;
}

#info {
    left: 30px;
}

#scoreboard {
    bottom: 30px;
}

#start,
#mode,
#gameOver {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 600px;
    visibility: hidden;
    background-color: #000000;
    z-index: 99;
}

a:hover,
button:hover,
#controls,
#tail,
#goal {
    color: #16c60c;
}

a,
button {
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
}

#fullscreenBtn,
#soundsBtn,
#controls,
#tail,
#goal {
    margin-right: 1em;
    margin-left: 1em;
}

#fullscreenBtn,
#soundsBtn {
    padding-left: 0.5em;
    padding-right: 0.5em;
    border: 2px solid #16c60c;
}